.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.style-card {
  background-color: bisque;
  border: 2px solid black;
  margin: 10px;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.style-card li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 450px;
  height: auto;
}

.head-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px;
  width: 150px;
  background-color: black;
  color: aqua;
  padding: 5px;
}

:disabled {
  background-color: darkgrey;
}
